/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #343848
  red: #E25C57
  yellow: #F4DA64
*/

.box {
  background-color: #343848;
}

.shape {
  position: relative;
  position: absolute;
  width: 140px;
  height: 40px;
  background-color: #e25c57;
  top: 50px;
  box-shadow: 260px 0px #e25c57;
}
.shape::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #f4da64;
  rotate: 45deg;
  left: 180px;
  box-shadow: 28px 85px #f4da64, 85px 28px #f4da64;
}
.shape::after {
  content: "";
  position: absolute;
  width: 140px;
  height: 40px;
  background-color: #e25c57;
  rotate: 90deg;
  top: 210px;
  left: 130px;
}
