/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #0b2429
  Yellow:#F3AC3C
*/

.box {
  background-color: #0b2429;
}

.shape {
  position: relative;
  width: 250px;
  height: 250px;
  background-color: #F3AC3C;
  rotate: 45deg;
  top: -145px;
  left: -145px;
}
